tools/Beef.CodeGen.Core/Schema/codegen.table.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.beef.com/codegen/2015/01/entity" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="CodeGeneration">
    <xs:annotation>
      <xs:documentation>The **CodeGeneration** is used as the global configuration for driving the underlying code-generation.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Table" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>The **Table** is used to identify a database `Table` and define its code-generation characteristics.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StoredProcedure" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The **StoredProcedure** is used to identify a database `Stored Procedure` and define its code-generation characteristics.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>The **Parameter** is used to define a Stored Procedure's Parameter and its charateristics.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Name" use="required" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The parameter name (without the `@` prefix).</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Column" use="optional" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The corresponding column name; used to infer characteristics. Defaults to `Name`.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="SqlType" use="optional" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The SQL type definition (overrides inerhited Column definition) including length/precision/scale.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="IsNullable" use="optional" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>Indicates whether the parameter is nullable. Note that When the parameter value is `NULL` it will not be included in the query.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="TreatColumnNullAs" use="optional" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>Indicates whether the column value where NULL should be treated as the specified value; results in: `ISNULL([x].[col], value)`.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="IsCollection" use="optional" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>Indicates whether the parameter is a collection (one or more values to be included `IN` the query).</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Operator" use="optional">
                          <xs:annotation>
                            <xs:documentation>The where clause equality operator Defaults to `EQ`.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="EQ" />
                              <xs:enumeration value="NE" />
                              <xs:enumeration value="LT" />
                              <xs:enumeration value="LE" />
                              <xs:enumeration value="GT" />
                              <xs:enumeration value="GE" />
                              <xs:enumeration value="LIKE" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Where" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>The **Where** statement is used to define additional filtering.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Statement" use="required" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The where statement (TSQL).</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OrderBy" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>The **OrderBy** is used to define the query order</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Name" use="required" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The name of the `Column` to order by; used to infer characteristics.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Order" use="optional">
                          <xs:annotation>
                            <xs:documentation>The corresponding sort order. Defaults to `Asc`.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Asc" />
                              <xs:enumeration value="Desc" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Execute" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>The **Execute** statement to enable additional functionality to be added before or after the primary statement.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="Statement" use="required" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>The additional statement (TSQL).</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Location" use="optional">
                          <xs:annotation>
                            <xs:documentation>The location of the statement in relation to the primary statement. Defaults to `After`.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Before" />
                              <xs:enumeration value="After" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" use="required" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The name of the `StoredProcedure` in the database.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Type" use="optional">
                    <xs:annotation>
                      <xs:documentation>The stored procedure operation type. Defaults to `GetAll`.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Get" />
                        <xs:enumeration value="GetAll" />
                        <xs:enumeration value="Create" />
                        <xs:enumeration value="Update" />
                        <xs:enumeration value="Upsert" />
                        <xs:enumeration value="Delete" />
                        <xs:enumeration value="Merge" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Paging" use="optional" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>Indicates whether standardized paging support should be added. This only applies where the stored procedure operation `Type` is `GetColl`.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ReselectStatement" use="optional" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The SQL statement to perform the reselect after a `Create`, `Update` or `Upsert` stored procedure operation `Type`. Defaults to `[{{Table.Schema}}].[sp{{Table.Name}}Get]` passing the primary key column(s).</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="IntoTempTable" use="optional" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>Indicates whether to select into a `#TempTable` to allow other statements to get access to the selected data. A `Select * from #TempTable` is also performed (code-generated) where the stored procedure operation `Type` is `GetColl`.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MergeOverrideIdentityColumns" use="optional" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The comma seperated list of `Column` names to be used in the `Merge` statement to determine whether to _insert_, _update_ or _delete_. This is used to override the default behaviour of using the primary key column(s).</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="WithHints" use="optional" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>the table hints using the SQL Server `WITH()` statement; the value specified will be used as-is; e.g. `NOLOCK` will result in `WITH(NOLOCK)`.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Permission" use="optional" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The name of the `StoredProcedure` in the database.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="GetAllOrderBy" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>The **OrderBy** is used to define the `GetAll` query order</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="Name" use="required" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The name of the column to order by.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="Order" use="optional">
                    <xs:annotation>
                      <xs:documentation>The corresponding column name; used to infer characteristics. Defaults to `Ascending`.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Ascending" />
                        <xs:enumeration value="Descending" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="xs:string">
              <xs:annotation>
                <xs:documentation>The name of the `Table` in the database.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Schema" use="required" type="xs:string">
              <xs:annotation>
                <xs:documentation>The name of the `Schema` where the `Table` is defined in the database.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Alias" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The name of the `Schema` where the `Table` is defined in the database. Will automatically default where not specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="IncludeColumns" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The comma separated list of `Column` names to be included in the underlying generated output. Where not specified this Indicates whether all `Columns` are to be included.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ExcludeColumns" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The comma seperated list of `Column` names to be excluded from the underlying generated output. Where not specified this indicates no `Columns` are to be excluded.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Get" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Get` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="GetAll" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `GetAll` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Create" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Create` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Update" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Update` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Upsert" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Upsert` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Delete" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Delete` stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="View" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `View` is to be automatically generated where not otherwise explicitly specified (only applies for a `Table`).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="EfModel" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether an `Entity Framework` .NET (C#) model is to be generated.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="EfModelName" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The .NET (C#) EntityFramework (EF) model name. Defaults to `Name`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Udt" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `User Defined Table (UDT)` type should be created.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UdtExcludeColumns" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The comma seperated list of `Column` names to be excluded from the `User Defined Table (UDT)`. Where not specified this indicates that no `Columns` are to be excluded.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Tvp" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The name of the .NET entity associated with the `Udt` so that it can be expressed (created) as a Table-Valued Parameter for usage within the corresponding `DbMapper`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Merge" use="optional" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Indicates whether a `Merge` (upsert of `Udt` list) stored procedure is to be automatically generated where not otherwise explicitly specified.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Permission" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The permission (prefix) to be used for security permission checking (suffix defaults to `Read`, `Write` or `Delete` and can be overridden in the underlying stored procedure).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameIsDeleted" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `IsDeleted` capability. Defaults to `IsDeleted`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameTenantId" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `TenantId` capability. Defaults to `TenantId`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameOrgUnitId" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `OrgUnitId` capability. Defaults to `OrgUnitId`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameRowVersion" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `RowVersion` capability. Defaults to `RowVersion`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameCreatedBy" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `CreatedBy` capability. Defaults to `CreatedBy`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameCreatedDate" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `CreatedDate` capability. Defaults to `CreatedDate`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameUpdatedBy" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `UpdatedBy` capability. Defaults to `UpdatedBy`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameUpdatedDate" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `UpdatedDate` capability. Defaults to `UpdatedDate`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameDeletedBy" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `DeletedBy` capability. Defaults to `UpdatedBy`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ColumnNameDeletedDate" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The column name for the `DeletedDate` capability. Defaults to `UpdatedDate`. To remove capability set to `None`.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="GetAllOrderBy" use="optional" type="xs:string">
              <xs:annotation>
                <xs:documentation>The comma seperated list of `Column` names (including sort order ASC/DESC) to be used as the `GetAll` query sort order</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="RefDatabaseSchema" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The schema name to identify the Reference Data related tables. Where not specified an attempt will be made to infer.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameIsDeleted" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `IsDeleted` capability. Defaults to `IsDeleted`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameTenantId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `TenantId` capability. Defaults to `TenantId`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameOrgUnitId" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `OrgUnitId` capability. Defaults to `OrgUnitId`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameRowVersion" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `RowVersion` capability. Defaults to `RowVersion`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameCreatedBy" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `CreatedBy` capability. Defaults to `CreatedBy`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameCreatedDate" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `CreatedDate` capability. Defaults to `CreatedDate`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameUpdatedBy" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `UpdatedBy` capability. Defaults to `UpdatedBy`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameUpdatedDate" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `UpdatedDate` capability. Defaults to `UpdatedDate`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameDeletedBy" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `DeletedBy` capability. Defaults to `UpdatedBy`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ColumnNameDeletedDate" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The column name for the `DeletedDate` capability. Defaults to `UpdatedDate`. To remove capability set to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OrgUnitJoinSql" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The SQL table or function that is to be used to join against for security-based `OrgUnitId` verification. Defaults to `[Sec].[fnGetUserOrgUnits]()`. To remove capability set `OrgUnitId` to `None`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="CheckUserPermissionSql" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The SQL stored procedure that is to be used for `Permission` verification. Defaults to `[Sec].[spCheckUserHasPermission]`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GetUserPermissionSql" use="optional" type="xs:string">
        <xs:annotation>
          <xs:documentation>The SQL function that is to be used for `Permission` verification. Defaults to `[Sec].[fnGetUserHasPermission]`.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>